#{extends 'main.html' /}
#{set title:'verHistoriasProyecto.html' /}

<script>
$().ready(function(){
	
	$( "#accordion" ).accordion({
		active:false,
		collapsible: true,
		header: "h3"
	});
	
});


</script>

<br></br>

<div class="well">
<h3 class="text-center container">Revisar Historias de :</h3>
	<center><b>${proyecto.tema}</b></center>
	#{if flash.confirmacion}
    	<div class="alert alert-success text-center">
    		${flash.confirmacion}	
    	</div>
   	#{/if}
</div>

<div class="container">
		<div class="col-lg-4">
		</div>
			<div class="col-lg-4">
			</div>
		<div class="col-lg-4">
		<a href="/proyectos/listado" class="btn btn-info" >&nbsp; Atras &nbsp;</a>
			<a href="/proyectos/productBacklog?id_proyecto=${proyecto.id}" class="btn btn-default"><b> <i class="icon-file-text"></i> Product Backlog</b></a>
		 
	
		</div>
</div>

<br>


<div class="container well">

#{if proyecto.historias}
		<div class="row">
			<div class="col-lg-12">
				<center><h4><b>HISTORIAS DE USUARIO EXISTENTES:</b></h4></center>
				<div id="accordion">

					#{list items:proyecto.historias,as:'historia'}
					
						#{if historia.validacion}
						<h3 style="background-color: #DFF0D8;"> Historia de Usuario N° ${historia.numero}<i class="caret"></i></h3>
						#{/if}
						#{else}
						<h3 style="background-color: #F2DEDE;"> Historia de Usuario N° ${historia.numero}<i class="caret"></i></h3>
						#{/else}
						<div>
						
						
						<form action="@{Historias.validacionHistoria()}">
						
							<input type="hidden" name="id_proyecto" value="${proyecto.id}" />
							<input type="hidden" name="id_historia" value="${historia.id}" />
							
						  <table class="table table-bordered"  >
					        
						         <tr> 
						            <th colspan="2"  bgcolor="#3E84C0" style="color: black;"><center><h4><b>HISTORIA DE USUARIO</b></h4></center></th> 
						         </tr>
			
						        	             
						          <tr> 
						            <th>Numero :<input type="text"  disabled="disabled" placeholder="Numero de la historia" value="${historia.numero}" style="width:200px;height:25px"/></th> 
						            <th>Usuario :<input type="text" disabled="disabled" value="${historia.usuario}"  name="usuario" autofocus required id="usuario" placeholder="Usuario que utilizará esta funcionalidad" autofocus style="width:258px; height:25px"/></th>
						          </tr> 
						          
						          <tr> 	
						            <th colspan="2">Nombre de la Historia :<input type="text" disabled="disabled" value="${historia.nombre}" required name="nombre" placeholder="Funcionalidad que debe implementarse" autofocus style="width:520px;height:25px" /></th>
						          </tr>
						          
						          <tr> 
						            <th colspan="2">
						            
						            Prioridad :
						            
						            
						            #{if historia.prioridad==1}
						            	
						            	<input type="text" disabled="disabled" class="alert alert-danger" value="Alta" style="width:250px;height:25px" />
						            #{/if}
						            #{if historia.prioridad==2}
						            	<input type="text" disabled="disabled" class="alert alert-warning" value="Media" style="width:250px;height:25px" />
						            #{/if}
						            #{if historia.prioridad==3}
						            	<input type="text" disabled="disabled" class="alert alert-success" value="Baja" style="width:250px;height:25px" />
						            #{/if}
						            
						            
						            </th> 
						          </tr>
						          
						         				          
						          <tr> 
						            <th colspan="2">Descripcion : <textarea disabled="disabled"  name="descripcion" class="form-control" rows="5" required="required" placeholder="">${historia.descripcion}</textarea></th> 
						          </tr>
						          <tr>
						          	
						          	<th colspan="2" >
						          		
						          	 	¿Está de acuerdo con esta historia de usuario?
						          	 	#{if historia.validacion}
						          	 		<input type="checkbox" name ="estado" checked="checked" />
						          	 	#{/if}
						          	 	#{else}
						          	 		<input type="checkbox" name="estado" />
						          	 	#{/else}
						          	 	
						          	 	<br>
						          	</th>
						          	
						          </tr>
						          
						          <tr>
						          	
						          	<td colspan="2" ><center><button class="btn btn-primary btn-block" type="submit"><b> Guardar </b></button>  </center></td>
						          	
						          </tr>
					      </table>
						</form>
						<br><br><br>
						</div>
						<br>
					#{/list}
				</div>
			</div>
		</div>
	#{/if}
	#{else}
		
		<div class="alert alert-danger">
			<b>Este proyecto todavía no tiene historias de usuario asociadas. Contactese con el Product Owner para que las escriba.</b>
		</div>
	
	#{/else}
</div>