
    

    <!DOCTYPE html>
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>DISTRIBUTIVO</title>
	<meta name="description" content="Free Html5 Templates and Free Responsive Themes Designed by Kimmy | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="@{'public/stylesheets/zerogrid.css'}">
	<link rel="stylesheet" href="@{'public/stylesheets/style.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/responsive.css'}">
	<link rel="stylesheet" href="@{'public/stylesheets/responsiveslides.css'}"/>
	<link href="@{'public/images/iconoutc.ico'}" rel='icon' type='image/x-icon'/>
	<script src="@{'public/javascripts/jquery.min.js'}"></script>
	<script src="@{'public/stylesheets/responsiveslides.css'}"></script>
	<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			maxwidth: 962,
			namespace: "centered-btns"
		  });
		});
	</script>
	
</head>
<body>
<!--------------Header--------------->
<header>
	<div class="wrap-header zerogrid">
		<div id="logo"><a href="#"><img src="@{'public/images/utc.png'}" style="height: 108px; width: 462px; "/></a></div>
		
		<div id="search">
			<div class="button-search"></div>
			<input type="text" value="Search..." onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
		</div>
	</div>
</header>
 <a href="@{Application.distributivo}">Distributivos</a>
</body>
</html>